.reviews-title {
    text-align: center;
    padding-top: 40px;
}

.cards-reviews {
    display: flex;
    width: 100%;
    border-radius: 5px;
    gap: 20px;


}

.card {
    width: 30%;
    height: auto;
    background: #0197b8;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 20px;
}

.card:hover {
    background: #7fc400;
}

.card>* {
    padding: 1rem 1.2rem;
}

.card-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.img {
    width: 50px;
    height: 50px;
    background: purple;
    border-radius: 50%;
    outline: none;
}

.name .one {
    background: orange;
}

.name,
.name .img {
    display: flex;
    align-items: center;
    gap: 10px;

}

.name .img {
    justify-content: center;
    color: whitesmoke;

}


.card-content {
    margin: 0;
    padding-top: 0;
}

.card-content p {
    font-size: 16px;
}

.card-action {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    margin-left: 10px;
    font-size: 14px;

}