* {
  font-family: 'Poppins', sans-serif;
}
/* Styling for the header */

.logo-container {
  display: flex;
  justify-content: right;
}

.logo {
  width: 200px;
  height: 60px;
  margin-right: 80px;
}

/** Styling for the greeting */

.greeting-container {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #E5E4E2;
}

.greeting-text {
  font-size: 40px;
  color: #7fc400;
  text-shadow: 1px 1px black;  
}

.location-text {
  font-size: 15px;
  color: black;
  text-decoration: none !important;
}

.greeting-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-content: center;
    width: 55%;
    height: 45%;
    padding-left: 50px;
  }

  .company-name-text {
    font-weight: bolder;
    color: #0197b8;
  }

  .motto {
    color: #0c0c0b;
    font-weight: bold;
  }

.greeting-picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 30%;
  height: 45%;
}

.greeting-picture {
  width: 500px;
  height: 330px;
}

.buttons {
  display: flex;
  gap: 5px;
}

  .services-button {
    background-color: #e3fa12; 
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 3px;
    border: 0.5px solid black;
    cursor: pointer;
  }

  .map-button {
    background-color: #dc88df; 
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 3px;
    border: 0.5px solid black;
    cursor: pointer;
  }

  .services-button:hover {
    background-color: #008CBA;
    color: white;
  }

  .map-button:hover {
    background-color: #2a8a2d;
    color: white;
  }

  /*** Styling for the contact section ***/

.contact-us-container {
  display: flex;
  height: 200px;
  width: 100%;
  background-color: #0197b8;
}

.contact-us-motto {
  display: flex;
  flex-direction: column;
  width: 52%;
}

.contact-us-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 20%;
  height: auto;
  font-weight: lighter;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #7fc400;

}

.contact-us-text-title {
  color: whitesmoke;
  text-shadow: 1px 1px black;  
  font-size: 22px;
  
}

.contact-us-means {
  display: flex;
  width: 28%;
  background-color: #7fc400;
}

.contact-us-paragraph {
  font-size: 18px;
}

.whatsapp, .email, .call-us {
  width: 80px;
  height: 80px;
  border: none;
  justify-content: center;
  text-align: center;
  margin: auto;
  display: inline-block;
  font-size: 50px;
  cursor: pointer;
  border-radius: 50%;
  transition-duration: 0.4s;
}

.whatsapp:hover, .email:hover, .call-us:hover {
  background-color: white;
}

.whatsapp {
  color: #2a8a2d;
  background-color: black;
}

.email {
  color: rgb(194, 197, 2);
  background-color: black;
}

.call-us {
  color: #082bf3;
  background-color: black;
}

/** Styling for the table **/

table {
  margin-left: 50px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 18px;
}

.why-choosing-us {
  font-size: 22px;
  color: whitesmoke;
  text-shadow: 1px 1px black;  
  padding: 10px;
}

/** Styling for the Gallery **/

.gallery-container {
  display: flex;
  width: 100%;
  background-color: #E5E4E2;
}

.gallery {
  display: flex;
  width: 60%;
}

.gallery-text {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  margin: auto;
}



/*** Styles services ***/

.services-title {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #E5E4E2;
  padding-top: 10px;
}

.cards-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 25px;
  justify-content: baseline;
  align-items: center;
  background-color: #E5E4E2;

}

.cards-services {
  vertical-align: bottom;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  margin-left: 30px;
  padding-top: 20px;

}

.cards-services h4, .cards-services p, .book {
  display: flex;
  text-align: left;
  align-items: left;
  margin-left: 30px;
}

.book {
  background-color: #7fc400; 
  color: black;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 3px;
  border: 0.5px solid black;
}

.book:hover {
  background-color: #0197b8; 
  color: black;
  cursor: pointer;
}


.book a {
  color: black !important;
}

/*** Animations for the services gallery ***/
#ultrasonic-cleaning {
  background-image: url("https://mejorconsalud.as.com/wp-content/uploads/2022/05/limpiador-dientes-ultrasonido-768x471.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#ultrasonic-cleaning:hover {
  background-image: url("https://www.healthyteeth.org/wp-content/uploads/2018/04/HealthyTeeth-Tooth-Development.png");
}

#fillers {
  background-image: url("https://cdn-dlpoa.nitrocdn.com/IPEAEWlqeJlpAEOEgpwHrpJrAZyCciSI/assets/static/optimized/rev-45a4189/wp-content/uploads/2017/07/empastes-dentales.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#fillers:hover {
  background-image: url("https://www.healthyteeth.org/wp-content/uploads/2018/04/HealthyTeeth-Tooth-Development.png");
}

#sellantes {
  background-image: url("https://www.avodent.com/wp-content/uploads/2015/03/composiciones-sellador-dental.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#sellantes:hover {
  background-image: url("https://www.healthyteeth.org/wp-content/uploads/2018/04/HealthyTeeth-Tooth-Development.png");
}

#wisdom-tooth-surgery {
  background-image: url("https://www.topdoctors.com.co/files/Image/large/6fc071d061bf8b1ec8dabb0f32c2d478.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#wisdom-tooth-surgery:hover {
  background-image: url("https://www.healthyteeth.org/wp-content/uploads/2018/04/HealthyTeeth-Tooth-Development.png");
}
#root-canal {
  background-image: url("https://clinicastoma.com/wp-content/uploads/2014/11/2254-clinica-dental-stoma-alcorcon-y-mostoles-endodoncia-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#root-canal:hover {
  background-image: url("https://www.healthyteeth.org/wp-content/uploads/2018/04/HealthyTeeth-Tooth-Development.png");
}
#dental-extractions {
  background-image: url("https://brooklynblvddental.com/wp-content/uploads/2021/02/tooth-extractions.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#dental-extractions:hover {
  background-image: url("https://www.healthyteeth.org/wp-content/uploads/2018/04/HealthyTeeth-Tooth-Development.png");
}
#implants {
  background-image: url("https://www.doralsedationdentistry.com/wp-content/uploads/2020/06/dental-white-fillings.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#implants:hover {
  background-image: url("https://www.healthyteeth.org/wp-content/uploads/2018/04/HealthyTeeth-Tooth-Development.png");
}
#dental-crowns {
  background-image: url("https://costaricadentalteam.com/wp-content/uploads/2019/10/Dental-Crowns-in-Costa-Rica.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#dental-crowns:hover {
  background-image: url("https://www.healthyteeth.org/wp-content/uploads/2018/04/HealthyTeeth-Tooth-Development.png");
}
#fixed-prostheses {
  background-image: url("https://polydentia.es/wp-content/uploads/2020/01/protesis-dental-fija-puente.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#fixed-prostheses:hover {
  background-image: url("https://www.healthyteeth.org/wp-content/uploads/2018/04/HealthyTeeth-Tooth-Development.png");
}
#removable-dentures {
  background-image: url("https://clinicasmilodon.com/wp-content/uploads/2019/03/puente2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#removable-dentures:hover {
  background-image: url("https://www.healthyteeth.org/wp-content/uploads/2018/04/HealthyTeeth-Tooth-Development.png");
}
#dental-veneers {
  background-image: url("https://www.topdoctors.es/files/Image/large/577fa208-6980-4b65-a44c-55988ac97da0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#dental-veneers:hover {
  background-image: url("https://www.healthyteeth.org/wp-content/uploads/2018/04/HealthyTeeth-Tooth-Development.png");
}

#whitening {
  background-image: url("https://1.bp.blogspot.com/-Y5oLvJxwBWc/Xz997-PJciI/AAAAAAAB_sI/knMHPLDAvmILMIE0reX8zDjz1AUAchZuwCLcBGAsYHQ/s1600/blanqueamiento%2Bdental.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#whitening:hover {
  background-image: url("https://www.healthyteeth.org/wp-content/uploads/2018/04/HealthyTeeth-Tooth-Development.png");
}

/** Styling for the footer **/

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 3px;
  background: #b4bbbd;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 50px;  
  gap: 20px;
}


/*** Styling for the form ***/

.form-text {
  display: flex;
  padding-top: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}


.form {
  text-align: left;
  width: 50%;
}


.form-image {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  margin-left: 100px;
}
.form-image img {
 width: 430px;
 height: 450px;
}

Form {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 20px;
}

